body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.navbar {
  background-color: #3498db; /* Blue color */
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-content {
  font-size: 30px; /* Font size increased */
  top: 20%; /* Text ko bottom ke sath thoda upar shift karna */
  position: absolute;
  left: 0; /* Initial position */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: moveName 10s linear infinite;
}

@keyframes moveName {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(115vw - 100%)); /* Move to the end of the viewport */
  }
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  
}

#circle1 {
  background-color: red;
  left: 50px;
  bottom: 15%;
  animation: moveCircle1 8s linear infinite;
}

#circle2 {
  background-color: yellow;
  left: 200px;
  bottom: 55%;
  animation: moveCircle2 9s linear infinite;
}

#circle3 {
  background-color: blue;
  left: 450px;
  bottom: 35%;
  animation: moveCircle3 8.5s linear infinite;
}

#circle4 {
  background-color: orange;
  left: 600px;
  bottom: 5%;
  animation: moveCircle4 8.7s linear infinite;
}

#circle5 {
  background-color: green;
  left: 800px;
  bottom: 67%;
  animation: moveCircle5 9.8s linear infinite;
}

#circle6 {
  background-color: purple;
  left: 1000px;
  bottom: 45%;
  animation: moveCircle6 9s linear infinite;
}

#circle7 {
  background-color: black;
  left: 1200px;
  bottom: 78%;
  animation: moveCircle7 9.5s linear infinite;
}

#circle8 {
  background-color: cyan;
  left: 1400px;
  bottom: 30%;
  animation: moveCircle8 9.2s linear infinite;
}

@keyframes moveCircle1 {
  0% {
    transform: translateY(-550%);
  }
  100% {
    transform: translateY(210px);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(500px);
  }
}

@keyframes moveCircle3 {
  0% {
    transform: translateY(-450%);
  }
  100% {
    transform: translateY(370px);
  }
}

@keyframes moveCircle4 {
  0% {
    transform: translateY(-700%);
  }
  100% {
    transform: translateY(150px);
  }
}

@keyframes moveCircle5 {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(600px);
  }
}

@keyframes moveCircle6 {
  0% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(450px);
  }
}

@keyframes moveCircle7 {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(650px);
  }
}

@keyframes moveCircle8 {
  0% {
    transform: translateY(-450%);
  }
  100% {
    transform: translateY(310px);
  }
}          



footer {
            color: #333;
            text-align: center;
            font-size: 20px;
            position: fixed;
            bottom: 0;
            width: 30%;
        }